:root {
  --primary-color: #3e8e3e;
  --secondary-color: #3d1d02;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent1-color);
  padding: 10px;
  color: #fff;
  border: 3px solid var(--secondary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  margin-left: 20px;
}

nav .grid-container ul {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 0px;
  padding: 10px;
  
}

nav .grid-item {
  background-color: var(--accent2-color);
  border: 1px solid var(--secondary-color);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  
}

ul {
  list-style: none;
  text-decoration: none;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero h4 {
  display: none;
}

.hero {
  position: relative;
  border: 5px solid var(--secondary-color);
  width: 840px;
  align-items: center;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 17px;
  text-align: center;
  color: var(--accent1-color);
}

.hero article {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 195px;
  opacity: 0.9;
  background-color: var(--accent2-color);
  padding: 10px;
  color: var(--secondary-color);
  text-align: left;
}

figure {
  margin: 10px;
}

section img {
  width: 140px;
  height: auto;
}
.hero article img {
  float: right;
  width: 100px;
  margin: 0 0 10px 10px;
}


.history {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.history .history-in {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  padding: 10px;
}

.history .history-in.grid-item {
  background-color: var(--accent2-color);
  border: none;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  gap: 10px;
}

article {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  text-align: center;
}

.article-grid article img {
  width: 120px;
  height: 100px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 5px solid var(--secondary-color);
  width: 840px;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 5px solid var(--secondary-color);
}

.socialmedia {
  text-align: right;
}

.socialmedia a {
  text-decoration: none;
  display: inline-block;
}

.socialmedia img {
  width: 24px;
}





